@page "/aboutSharpSite"

<h1>About SharpSite</h1>

<p>SharpSite is a simple blog engine written in C# using Blazor.</p>

<h2>Packages Used</h2>

<ul>
		<li><a href="https://www.nuget.org/packages/Markdig/">Markdig</a></li>
		<li><a href="https://www.nuget.org/packages/PSC.Blazor.Components.MarkdownEditor/">PSC.Blazor.Components.MarkdownEditor</a></li>
</ul>
