@page "/aboutSharpSite"
@inject IStringLocalizer<SharedResource> Localizer

<PageTitle>@Localizer[SharedResource.sharpsite_about]</PageTitle>

<h1>@Localizer[SharedResource.sharpsite_about]</h1>

<p>@Localizer[SharedResource.sharpsite_about_description]</p>

<h2>@Localizer[SharedResource.sharpsite_about_packages]</h2>

<ul>
		<li><a href="https://www.nuget.org/packages/Markdig/">Markdig</a></li>
		<li><a href="https://www.nuget.org/packages/PSC.Blazor.Components.MarkdownEditor/">PSC.Blazor.Components.MarkdownEditor</a></li>
</ul>
