@page "/"
@inject IPostRepository PostService

<PageTitle>SharpSite</PageTitle>

@* NOTE: Every page should have a h1-element, can be visually hidden if it suits the design. *@
<h1 class="visually-hidden">@Localizer[SharedResource.sharpsite_home_page]</h1>

@if (Posts is not null)
{
	@foreach (var post in Posts)
	{
		<PostView item="post" />
	}
} 

@code {
	private IEnumerable<Post>? Posts { get; set; }

	protected override async Task OnInitializedAsync()
	{
		Posts = (await PostService.GetPosts()).OrderByDescending(p => p.PublishedDate);
	}
}