@using System.Net
<PageTitle>@Localizer[SharedResource.sharpsite_pagenotfound]</PageTitle>

<p>@Localizer[SharedResource.sharpsite_pagenotfound]</p>

@if (!string.IsNullOrEmpty(PageRequested))
{
	<p>@string.Format(Localizer[SharedResource.sharpsite_pagenotfound_withrequestedpage], PageRequested)</p>
}
<p><a href="/">@SharedResource.sharpsite_backtohome</a></p>

@code 
{

	[CascadingParameter]
	public HttpContext? HttpContext { get; set; }

	[Parameter]
	public string? PageRequested { get; set; }

	protected override void OnInitialized()
	{
		if (HttpContext is not null)
			HttpContext.Response.StatusCode = (int)HttpStatusCode.NotFound;
		base.OnInitialized();
	}


}