<PageTitle>@Localizer["sharpsite_pagenotfound"]</PageTitle>

<p>@Localizer["sharpsite_pagenotfound"]</p>

@if (!string.IsNullOrEmpty(PageRequested))
{
	<p>@string.Format(Localizer["sharpsite_pagenotfound_withrequestedpage"], PageRequested)</p>
}
<p><a href="/">@Localizer["sharpsite_backtohome"]</a></p>

@code 
{

	[Parameter]
	public string? PageRequested { get; set; }


}