@using Microsoft.AspNetCore.Localization
<!DOCTYPE html>
<html lang="@System.Globalization.CultureInfo.CurrentCulture.TwoLetterISOLanguageName">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="SharpSite.Web.styles.css" />

    <link rel="icon" type="image/png" href="favicon.png" />
    <link rel="sitemap" type="application/xml" title="Sitemap" href="/sitemap.xml" />
		<link rel="alternate" type="application/rss+xml" title="RSS" href="/rss.xml" />
		<link href="/_content/PSC.Blazor.Components.MarkdownEditor/css/markdowneditor.css" rel="stylesheet" />
		<link href="/_content/PSC.Blazor.Components.MarkdownEditor/css/easymde.min.css" rel="stylesheet" />

    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
		<script src="/_content/PSC.Blazor.Components.MarkdownEditor/js/easymde.min.js"></script>
		<script src="/_content/PSC.Blazor.Components.MarkdownEditor/js/markdownEditor.js"></script>
    <script src="app.js"></script>

</body>

</html>

@code {
    [CascadingParameter]
    public HttpContext? HttpContext { get; set; }

    protected override void OnInitialized()
    {
        HttpContext?.Response.Cookies.Append(
            CookieRequestCultureProvider.DefaultCookieName,
            CookieRequestCultureProvider.MakeCookieValue(
                new RequestCulture(
                    CultureInfo.CurrentCulture,
                    CultureInfo.CurrentUICulture)));
    }
}