<h2><a href="@item.ToUrl()">@item.Title</a></h2>
<h3>@item.PublishedDate.LocalDateTime.ToShortDateString()</h3>

<p>@item.Description</p>

@code {
	[Parameter, EditorRequired] 
	public required Post item { get; set; }
}