@inherits LayoutComponentBase
@layout SharpSite.Web.Components.Layout.MainLayout

<h1>@Localizer[SharedResource.sharpsite_admin_layout_h1]</h1>

<div>
	<h2>@Localizer[SharedResource.sharpsite_admin_layout_h2]</h2>
	<hr />
	<div class="row">
		<nav role="navigation" aria-label="@Localizer[SharedResource.sharpsite_navadmin]" class="col-lg-3">
			<ManageNavMenu />
		</nav>
		<div class="col-lg-9">
			@Body
		</div>
	</div>
</div>