@inject ApplicationState AppState	
@rendermode InteractiveServer

<h3>@SharedResource.sharpsite_CustomizePageNotFoundHeader</h3>

<p>@SharedResource.sharpsite_CustomizePageNotFoundDescription</p>

<TextEditor @bind-Content="PageNotFoundContent" AlignmentOptionsEnabled="true" />

<button class="btn btn-primary" @onclick="SavePageNotFoundContent">@SharedResource.sharpsite_save</button>


@code {

	private string PageNotFoundContent { get; set; } = string.Empty;

	protected override void OnParametersSet()
	{
		PageNotFoundContent = AppState.PageNotFoundContent;
		base.OnParametersSet();
	}

	private async Task SavePageNotFoundContent(MouseEventArgs e)
	{
		
		// copy the PageNotFoundContent to the AppState and save AppState
		AppState.PageNotFoundContent = PageNotFoundContent;
		await AppState.Save();


	}
}
