@page "/admin"
@attribute [Authorize(Roles = Constants.Roles.AllUsers)]

<PageTitle>@Localizer[SharedResource.sharpsite_admin]</PageTitle>

<p>@Localizer[SharedResource.sharpsite_admin_headertext]</p>

<AdminSiteSettings />

