@inherits LayoutComponentBase
@layout SharpSite.Web.Components.Layout.MainLayout

<h1>Manage the site</h1>

<div>
	<h2>Site Management</h2>
	<hr />
	<div class="row">
		<nav role="navigation" aria-label="@Localizer["sharpsite_navadmin"]" class="col-lg-3">
			<ManageNavMenu />
		</nav>
		<div class="col-lg-9">
			@Body
		</div>
	</div>
</div>