@inject ApplicationState AppState	
@rendermode InteractiveServer

<h3>Customize Page Not Found content</h3>

<p>Customize the content for the "page not found" page</p>

<TextEditor @bind-Content="PageNotFoundContent"  />

<button class="btn btn-primary" @onclick="SavePageNotFoundContent">@SharedResource.sharpsite_save</button>


@code {

	private string PageNotFoundContent { get; set; } = string.Empty;

	protected override void OnParametersSet()
	{
		PageNotFoundContent = AppState.PageNotFoundContent;
		base.OnParametersSet();
	}

	private async Task SavePageNotFoundContent(MouseEventArgs e)
	{
		
		// copy the PageNotFoundContent to the AppState and save AppState
		AppState.PageNotFoundContent = PageNotFoundContent;
		await AppState.Save();


	}
}
