@page "/admin/plugins"
@attribute [Authorize(Roles = Constants.Roles.Admin)]
@inject ApplicationState AppState

<h4>
	@Localizer["sharpsite_installedplugins"]</h4>

@if (AppState.Plugins.Count == 0)
{
	<p>
		@Localizer["sharpsite_nopluginsinstalled"]</p>
}
else
{
	<ul>
		@foreach (var plugin in AppState.Plugins)
		{
			<li>@plugin.Value.DisplayName</li>
		}
	</ul>
}

@code {

}
