@page "/admin/plugins"
@attribute [Authorize(Roles = Constants.Roles.Admin)]
@inject ApplicationState AppState

<PageTitle>@Localizer[SharedResource.sharpsite_installedplugins]</PageTitle>

<h3>
	@Localizer[SharedResource.sharpsite_installedplugins]</h3>

@* Add a button that links to the add plugin page With the text add new plugin  *@
<div class="my-4">
<a href="/admin/addplugin" class="btn btn-primary">@Localizer[SharedResource.sharpsite_addnewplugin]</a>
</div>


@if (AppState.Plugins.Count == 0)
{
	<p>
		@Localizer[SharedResource.sharpsite_nopluginsinstalled]</p>
}
else
{
	<div class="d-flex flex-wrap gap-3">
		@foreach (var plugin in AppState.Plugins)
		{
			<PluginCard Plugin="plugin.Value" />
		}
	</div>
}

@code {

}
