<div class="card plugin-card">
	<div class="card-header d-flex align-items-baseline gap-1">
		<h5 class="card-title mb-0">@Plugin.DisplayName</h5>
		<span>&mdash;</span>
		<small class="text-muted">@Plugin.Version</small>
	</div>
	<img src="@Plugin.Icon" alt="Plugin icon" class="card-img-top"/>
	<div class="card-body">
		<p class="card-text">@Plugin.Description</p>
	</div>
	<div class="card-footer d-flex justify-content-between">
		<button type="button" class="btn btn-info">Update</button>
		<button type="button" class="btn btn-danger">Remove</button>
	</div>
</div>

@code {
	[Parameter, EditorRequired] public required PluginManifest Plugin { get; set; }
}
